.doctor-card{
    display: flex;
    border: 1px solid black;
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 4%;
}
.doctor-image{
    height: 100px;
    width: 120px;
    margin-right: 5%;
    border-radius: 50%;
}
.doctor-card-details{
    width: 70%;
}
.doctor-card h3{
    margin-top: 0;
}
.doctor-card hr{
    margin-left: auto;
    margin-right: 5%;
    border: 1px solid black;
}
.doctor-card button{
    font-weight: 700;

    color: white;
    font-size: 12px;
    padding: 10px;
    border-radius: 5px;
    background-color: palevioletred;
    border: none;
    align-self: center;
    margin-right: 4%;
    width: 20%;
}
.doctor-name{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}
.specialization{
    font-size: 18px;
    font-weight: 500;
}
.availability{
    font-size: 15px;
}